
<footer role="contentinfo" class="td-fullwidth-dark-green td-padding-vert-0" style="top:300px">
    <div class="td-container">
        <div class="td-row">
            <div class="td-footer-content td-col-xs-12" style="background-image:url(&#39;assets/img/Footer_CHAIR_glow_approved_636x566.png&#39;);">
                <p class="td-footer-heading td-copy-white td-copy-align-centre">Need to talk to us directly?<a href="/content/tdgis/us/en/contact-us.html" class="td-contact-link td-link-nounderline td-link-standalone">Contact <span class="td-link-lastword">us<span class="td-icon td-icon-rightCaret" aria-hidden="true"></span></span></a></p>
                <div class="td-footer-social td-copy-align-centre">
                    <p class="td-footer-social-heading">Connect with TD</p>
                    <ul>
                        <li>
                            <a class="td-link-nounderline" href="http://www.facebook.com/" target="_blank">
                                <div class="td-icon-wrapper td-interactive-icon td-background-darkgreen">
                                    <span aria-hidden="true" class="td-icon td-icon-close"></span>
                                    <span class="td-forscreenreader" id="icon1Description">Icon Description</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="td-link-nounderline" href="http://www.facebook.com/" target="_blank">
                                <div class="td-icon-wrapper td-interactive-icon td-background-darkgreen">
                                    <span aria-hidden="true" class="td-icon td-icon-facebookIcon"></span>
                                    <span class="td-forscreenreader" id="icon2Description">Facebook</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="td-link-nounderline" href="http://www.twitter.com/" target="_blank">
                                <div class="td-icon-wrapper td-interactive-icon td-background-darkgreen">
                                    <span aria-hidden="true" class="td-icon td-icon-twitterIcon"></span>
                                    <span class="td-forscreenreader" id="icon3Description">Twitter</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="td-link-nounderline" href="http://www.youtube.com/" target="_blank">
                                <div class="td-icon-wrapper td-interactive-icon td-background-darkgreen">
                                    <span aria-hidden="true" class="td-icon td-icon-youtubeLogo"></span>
                                    <span class="td-forscreenreader" id="icon4Description">YouTube</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="td-link-nounderline" href="http://www.facebook.com/" target="_blank">
                                <div class="td-icon-wrapper td-interactive-icon td-background-darkgreen">
                                    <span aria-hidden="true" class="td-icon td-icon-close"></span>
                                    <span class="td-forscreenreader" id="icon1Description">Icon Description</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="td-footer-links td-copy-align-centre td-copy-white">
                                        
                        <a class="td-copy-white td-link-nounderline td-copy-standard" target="_blank" href="http://www.td.com/privacy-and-security/privacy-and-security/index.jsp">Privacy &amp; Security</a>

                        <a class="td-copy-white td-link-nounderline td-copy-standard" target="_blank" href="http://www.td.com/to-our-customers/index.jsp">Legal Terms</a>

                        <a target="_blank" class="td-copy-white td-link-nounderline td-copy-standard" href="http://www.tdcanadatrust.com/customer-service/accessibility/accessibility-at-td/index.jsp">Accessibility</a>

                        <a class="td-copy-white td-link-nounderline td-copy-standard" target="_blank" href="https://www.tdstandards.com/demo/ayeon/tdct/4-nav-screen-header.html#AboutUs">About Us</a>
                   
                        <a class="td-copy-white td-link-nounderline td-copy-standard" target="_blank" href="https://www.tdstandards.com/demo/ayeon/tdct/4-nav-screen-header.html#">We're Hiring</a>

                        <a class="td-copy-white td-link-nounderline td-copy-standard" target="_blank" href="https://www.tdstandards.com/demo/ayeon/tdct/4-nav-screen-header.html#">Manage Cookies</a>

                        <a class="td-copy-white td-link-nounderline td-copy-standard" href="javascript:void(0);" onclick="$(&#39;#siteIndex&#39;).tdModal({&#39;show&#39;:true, &#39;scroll_height&#39;: &#39;85%&#39;});" role="button">Site Index</a>

                    
                </div>


            </div>

        </div>
		
		<!-- Custom Footer for IIROC and CIPF Logos Begins -->
		<!-- Comments: 
				- Please create an option in WCM for Publishing team to enable/disable below div. (Please uncomment the below HTML when implementing it)
				- Please add a RTE field to the div that has ".rte" class name	   
		-->
		
		<!--
		<div class="td-row rte">
			<div class="td-footer-content td-col-xs-12" style="padding-top:0;padding-bottom:0;">
				<div class="td-footer-social td-row">
					<div class="td-col-sm-12 td-col-md-3 td-col-md-offset-3">
						<a href="http://www.iiroc.ca/investors/knowyouradvisor" class="td-link-nounderline td-copy-white" target="_blank">
						IIROC <em>AdvisorReport</em></a><br/>
						<a href="http://www.iiroc.ca" target="_blank"><img src="https://www.td.com/ca/images/emerald/img/IIROC_en_desktop.png" alt="" />
						</a>
					</div>
					<div class="td-col-sm-12 td-col-md-3">
						<br/>
						<a href="https://www.cipf.ca" target="_blank"><img src="https://www.td.com/ca/images/emerald/img/CIPF_en_desktop.png" class="td-rte-margin-top-none" alt="" /></a>
					</div>
				</div>
			</div>
		</div>	
		-->
		
		<!-- Custom Footer for IIROC and CIPF Logos Ends -->
		
    </div>   

</footer>