<div class="a-login-banner logged-in personal-home">

	<div id="ABanner"> <!-- for Target Premium -->
		<!-- Actual Login Banner -->
		<section class="td_rq_a_banner td-a-banner loginbox 
        {parallax_top_m:46,loginbox:{status:true,targetedElement:'#login-body-content'}}" 
        data-bg-srcset="{&quot;lg&quot;:&quot;assets/img/a-banners/desktop-login_1920-banner.jpg&quot;, &quot;md&quot;:&quot;assets/img/a-banners/tabL-login_1024-banner.jpg&quot;, &quot;sm&quot;:&quot;assets/img/a-banners/tabP-login_768-banner.jpg&quot;,&quot;xs&quot;:&quot;assets/img/a-banners/mobile-login_320-banner.jpg&quot;}" 
        id="aBanner0" style="opacity: 1; background-position: 50% 158px; background-size: 1920px 480px;">
	<div class="td-container">	
		
		<div class="td-col td-col-xs-12 td-col-xs-offset-0 td-col-sm-7 td-col-sm-offset-5 td-col-md-8 td-col-md-offset-4">				
			<div class="td-row td-a-banner-callout parallax-banner background-color-white">		
				<div id="login-body-content" class="td-col-sm-12 td-col-md-6">
				
				    <!-- body content begins -->
					<p class="td-banner-header gray"></p>
					<div class="td-row callout-action"></div>	
					<!-- body content ends -->
					
				</div>	
				<div class="hidden-xs hidden-sm td-col-md-6 td-col-md-offset-0 td-col-lg-5 td-col-lg-offset-1">
					<!-- please leave here blank for login box -->
				</div>					
			</div>		
			
		</div>		
	</div>	
</section>

	</div>	

	<!-- Layout for Login Box:: Personal Home -->
	<div class="a-login-banner-loginbox" style="opacity: 1;">
	<section class="td-a-banner-loginbox loginbox overlay">
		<div class="td-container">			
			<div class="td-col td-col-xs-12 td-col-xs-offset-0 td-col-sm-7 td-col-sm-offset-5 td-col-md-8 td-col-md-offset-4">		
				<!--
					Add: 'logged-in and 'personal-home'
				-->					
				<div class="td-row td-a-banner-callout parallax-banner background-color-white logged-in personal-home">		
					<div id="login-body-content-cloned" class="td-col-sm-12 td-col-md-6"><p class="td-banner-header gray"><span class="td-green-text">Ready</span>  Find an account that meets your needs for any occasion.</p><div class="td-row callout-action">
						<div class="td-col td-col-xs-12">
							<button class="td-button td-button-block td-button-clear-green td-button-large td-copy-nowrap" type="button">Learn More</button>
						</div>
					</div></div>		

					<!--
						Hide Login Box: Replace 'hidden-xs hidden-sm' with 'td-col-xs-12' to hide login box in Tablet Portrait view & Mobile view
					-->						
					<div class="hidden-xs hidden-sm td-col-md-6 td-col-md-offset-0 td-col-lg-5 td-col-lg-offset-1">
						<div>
							<div class="td-row">									
								<div class="td-col-md-10 td-col-md-offset-2 single">	
									<h2>EasyWeb Online Banking</h2>
									
									<!-- Logged into EasyWeb -->
									<p class="message hidden-xs">You are already logged into EasyWeb</p>
								</div>
							</div>							
							<div class="td-row">
								<div class="td-col-md-7 td-col-md-offset-2">
									<!-- Logged out from EasyWeb: uncomment it
									<button class="td-button td-button-secondary td-button-large td-copy-nowrap loginout" type="button"><span class="td-icon td-icon-secureBtn"></span>Login</button>
									-->
									
									<!-- Logged into EasyWeb -->
									<button class="td-button td-button-primary td-button-large td-copy-nowrap loginout" type="button">Back to EasyWeb</button>
									
								</div>						
								<div class="td-col-md-3">
									<!-- Logged out from EasyWeb: uncomment it
									<a href="#" class="td-link-standalone">Register</a> 
									-->	
								</div>
							</div>
							<div class="td-row">									
								<div class="td-col-md-10 td-col-md-offset-2 single">	
									<!-- Logged out from EasyWeb: uncomment it
									<a href="#" class="td-link-standalone">Security Guarantee</a>
									<a href="#" class="td-link-standalone">Try the EasyWeb Demo</a>	
									-->
								</div>
							</div>	
							
							<hr>

							<div class="td-row">									
								<div class="td-col-md-10 td-col-md-offset-2 single">	
									<h2>WebBroker Online Trading</h2>
									<!--
									<p class="message hidden-xs">You are already logged into WebBroker</p>
									-->
								</div>
							</div>
							<div class="td-row">
									
								<div class="td-col-md-7 td-col-md-offset-2">
									
									<button class="td-button td-button-secondary td-button-large td-copy-nowrap loginout" type="button"><span class="td-icon td-icon-secureBtn"></span>Login</button> 
								
									<!--
									<button class="td-button td-button-primary td-button-large td-copy-nowrap loginout" type="button">Back to WebBroker</button> 
									-->
								</div>										
								<div class="td-col-md-3">
								
									<a href="#" class="td-link-standalone"> <span class="td-link-lastword">Register<span class="td-icon td-icon-rightCaret" aria-hidden="true"></span></span></a>
								
								</div>
							</div>
							<!--
								Logged out: remove 'hidden-xs' from WebBroker & WebBroker
							-->								
							<div class="td-row hidden-xs">									
								<div class="td-col-md-10 td-col-md-offset-2 single">	
									
									<a href="#" class="td-link-standalone">Security <span class="td-link-lastword">Guarantee<span class="td-icon td-icon-rightCaret" aria-hidden="true"></span></span></a>
									<a href="#" class="td-link-standalone">Try the WebBroker <span class="td-link-lastword">Demo<span class="td-icon td-icon-rightCaret" aria-hidden="true"></span></span></a>	
									
								</div>
							</div>	
							
						</div>
					</div>	
					
				</div>		
				
			</div>		
		</div>	
	</section>		
</div>	
</div>