<div class="td-nav-mobile">
   <div class="td-nav-mobile-menu td-nav-mobile-menu-primary">
      <span tabindex="0"></span>
      <div class="td-nav-mobile-menu-top">
         <div class="td-nav-mobile-menu-header">
            <div class="td-logo">
               <a href="https://www.td.com/ca/en/personal-banking">
               <img src="/content/dam/system/img/td-logo.png" srcset="" alt="TD Canada Trust"></a>
            </div>
            <button type="button" class="td-mobile-menu-close"><span class="td-forscreenreader" aria-hidden="">Close Menu</span><span class="td-icon" aria-hidden="true"></span></button>
         </div>
         <div class="td-nav-mobile-menu-search">
            <link rel="stylesheet" href="https://www.td.com/ca/en/personal-banking/system/v1.5/assets/css/selfHelp/main.css">
            <script type="text/ng-template" id="https://www.td.com/ca/en/personal-banking/selfHelpComponents/headerSearchInput.html">
               <form class="td-search-box ng-pristine ng-valid" ng-submit="submitSearch()" role="search">
                   <input type="text" ng-model="query" ng-change="$ctrl.updateSuggestions()" placeholder="Search" name="query" class="td-search-input" aria-label="Search" autocomplete="off" aria-autocomplete="list" aria-haspopup="false" aria-expanded="false">
                   <div ng-if="$ctrl.suggestions.length > 0 && !$ctrl.hideSuggestions" class="suggestion-dropdown">
                       <div class="suggestion-item" ng-repeat="suggestion in $ctrl.suggestions track by $index" ng-mouseover="$ctrl.hover($index)" ng-click="$ctrl.clickSuggestion($index)" ng-class="{'selected-suggestion': $index == $ctrl.selected}">
                           <span ng-bind-html="suggestion | safeHtml"></span>
                       </div>
                   </div>
                   <span class="td-search-icon" aria-hidden="true"><span class="td-icon"></span></span>
                   <input type="submit" class="td-search-submit" value="search">
               </form>
            </script>
            <header-search-input>
               <form class="td-search-box ng-pristine ng-valid" ng-submit="submitSearch()" role="search">
                  <input type="text" ng-model="query" ng-change="$ctrl.updateSuggestions()" placeholder="Search" name="query" class="td-search-input ng-pristine ng-untouched ng-valid ng-empty" aria-label="Search" autocomplete="off" aria-autocomplete="list" aria-haspopup="false" aria-expanded="false" aria-invalid="false">
                  <!-- ngIf: $ctrl.suggestions.length > 0 && !$ctrl.hideSuggestions -->
                  <span class="td-search-icon" aria-hidden="true"><span class="td-icon"></span></span>
                  <input type="submit" class="td-search-submit" value="search">
               </form>
            </header-search-input>
         </div>
      </div>
      <nav>
         <ul class="td-nav-mobile-menu-list">
            <li class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-segment">
               <a href="#" aria-expanded="false" role="button">TD: Personal<span class="td-icon expand"></span><span class="td-icon collapse"></span></a>
               <ul class="td-accordion-content">
                  <li class="active"><a href="https://www.td.com/ca/en/personal-banking/" target="_self">Personal<span class="td-icon selected" aria-hidden="true"></span><span class="td-forscreenreader">Selected</span></a></li>
                  <li><a href="https://www.td.com/ca/en/business-banking/small-business/" target="_self">Small Business</a></li>
                  <li><a href="https://www.tdcommercialbanking.com/home/index.jsp" target="_self">Commercial</a></li>
                  <li><a href="https://www.td.com/ca/en/investing/" target="_self">Investing</a></li>
                  <li><a href="https://www.td.com/ca/en/about-td/" target="_self">About TD</a></li>
               </ul>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link active">
               <a href="https://www.td.com/ca/en/personal-banking/" target="_self"><span class="td-icon td-icon-homepage"></span>Home</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link ">
               <a href="https://www.td.com/ca/en/personal-banking/my-accounts/" target="_self"><span class="td-icon td-icon-myTD"></span>My Accounts</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link ">
               <a href="https://www.td.com/ca/en/personal-banking/how-to/" target="_self"><span class="td-icon td-icon-howTo"></span>How To</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link ">
               <a href="https://www.td.com/ca/en/personal-banking/products/bank-accounts/" target="_self"><span class="td-icon td-icon-accounts"></span>Bank Accounts</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link ">
               <a href="https://www.td.com/ca/en/personal-banking/products/credit-cards/" target="_self"><span class="td-icon td-icon-creditcards"></span>Credit Cards</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link ">
               <a href="https://www.td.com/ca/en/personal-banking/products/mortgages/" target="_self"><span class="td-icon td-icon-mortgages"></span>Mortgages</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link ">
               <a href="https://www.td.com/ca/en/personal-banking/products/borrowing/" target="_self"><span class="td-icon td-icon-borrowing"></span>Borrowing</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link ">
               <a href="https://www.td.com/ca/en/personal-banking/personal-investing/" target="_self"><span class="td-icon td-icon-savingAndInvesting"></span>Personal Investing</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link ">
               <a href="https://www.td.com/ca/en/personal-banking/products/insurance/ " target="_self"><span class="td-icon td-icon-insurance"></span>Insurance</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link ">
               <a href="https://www.td.com/ca/en/personal-banking/products/special-offers/" target="_self"><span class="td-icon td-icon-colour-primary td-icon-offers "></span>Promotions &amp; Offers</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link td-accordion item-solutions td-accordion">
               <a href="" target="_self" aria-expanded="false" role="button"><span class="td-icon td-icon-solutions"></span>Solutions<span class="td-icon expand"></span><span class="td-icon collapse"></span></a>
               <ul class="td-accordion-content" style="display:none">
                  <li class=""> <a href="https://www.td.com/ca/en/personal-banking/solutions/student-banking/" target="_self">Students</a></li>
                  <li class=""> <a href="https://www.td.com/ca/en/personal-banking/solutions/new-to-canada/" target="_self">New to Canada</a></li>
                  <li class=""> <a href="https://www.td.com/ca/en/personal-banking/solutions/seniors-banking/" target="_self">Banking Advice for Seniors (60+)</a></li>
                  <li class=""> <a href="https://www.tdcanadatrust.com/products-services/banking/cross-border-banking/index.jsp" target="_self">Cross Border Banking</a></li>
                  <li class=""> <a href="https://www.td.com/ca/en/personal-banking/solutions/currency-exchange/ " target="_self"> Foreign Exchange Services</a></li>
                  <li class=""> <a href="https://www.td.com/ca/en/personal-banking/solutions/ways-to-pay-and-send-money/" target="_self">Ways to Pay</a></li>
                  <li class=""> <a href="https://www.td.com/ca/en/personal-banking/solutions/ways-to-bank/" target="_self">Ways to Bank </a></li>
                  <li class=""> <a href="https://www.td.com/ca/en/personal-banking/solutions/green-banking/" target="_self">Green Banking</a></li>
                  <li class=""> <a href="https://www.td.com/ca/products-services/investing-at-td/index.jsp" target="_self">Investors</a></li>
                  <li class=""> <a href="https://www.td.com/ca/en/business-banking/small-business/" target="_self">Small Businesses</a></li>
                  <li class=""> <a href="https://www.tdcommercialbanking.com/home/index.jsp" target="_self">Commercial Banking</a></li>
               </ul>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link item-find-us ">
               <a href="https://www.td.com/ca/en/personal-banking/branch-locator/" target="_self"><span class="td-icon td-icon-location"></span>Find Us</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link td-item-nav-link-last item-help-me ">
               <a href="https://www.td.com/ca/en/personal-banking/help-centre/" target="_self"><span class="td-icon td-icon-help"></span>Help</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-country" ng-show="a.login==true">
               <a href="javascript:void(0);" aria-expanded="false" role="button">Country: Canada<span class="td-icon expand"></span><span class="td-icon collapse"></span></a>
               <ul class="td-accordion-content">
                  <li class="active">
                     <a href="#"><img class="country-flag" src="/content/dam/system/img/country_ca.png" alt="Canada">Canada<span class="td-icon selected" aria-hidden="true"></span><span class="td-forscreenreader">Selected</span></a>
                  </li>
                  <li>
                     <a href="http://www.tdbank.com" target="_self"><img class="country-flag" src="https://www.td.com/ca/en/personal-banking/images/country_us_tcm341-234704.png" alt="US">US</a>
                  </li>
               </ul>
            </li>
            <li class="td-nav-mobile-menu-item td-item-toggle td-accordion td-accordion-language" ng-show="a.login==true">
               <a href="javascript:void(0);" aria-expanded="false" role="button">Language: English<span class="td-icon expand"></span><span class="td-icon collapse"></span></a>
               <ul class="td-accordion-content">
                  <li lang="en" class="active"><a href="javascript:void(0);">English<span class="td-icon selected" aria-hidden="true"></span><span class="td-forscreenreader">Selected</span></a></li>
                  <li lang="fr"><a href="https://www.td.com/ca/fr/services-bancaires-personnels/" target="_self">Français</a></li>
                  <li lang="zh-Hans"><a href="https://zh.td.com/ca/en/personal-banking/" target="_self">简体中文</a></li>
                  <li lang="zh-Hant"><a href="https://zt.td.com/ca/en/personal-banking/" target="_self">繁體中文</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <span tabindex="0"></span>
   </div>
   <!-- Secondary mobile menu START -->
   <div class="td-nav-mobile-menu td-nav-mobile-menu-secondary td-nav-mobile-menu-right">
      <span tabindex="0"></span>
      <div class="td-nav-mobile-menu-top">
         <div class="td-nav-mobile-menu-header">
            <div class="td-nav-mobile-menu-title">
               <span ng-show="a.login==true" class=""><span class="td-icon login" aria-hidden="true"></span>Login</span>
               <div class="profile ng-hide" ng-show="a.logout==true">
                  <div class="td-profile-btn">
                     <span class="profile-avatar td-icon" aria-hidden="true"></span>
                     <span class="td-forscreenreader">My Accounts &amp; Profile</span>
                  </div>
               </div>
               <a class="logout ng-hide" href="#" ng-show="a.logout==true"><span class="td-icon logout" aria-hidden="true"></span>Logout</a>
            </div>
            <button type="button" class="td-mobile-menu-close">
            <span class="td-forscreenreader" aria-hidden="">Close My Accounts &amp; Profile</span><span class="td-icon" aria-hidden="true"></span>
            </button>
         </div>
      </div>
      <nav>
         <ul class="td-nav-mobile-menu-list" ng-show="a.login==true">
            <li class="td-nav-mobile-menu-item td-item-nav-link ">
               <a href="#" id="tdapp"><span class="td-icon td-icon-noIcon"></span>TD app</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link ">
               <a href="https://easyweb.td.com/"><span class="td-icon td-icon-noIcon"></span>EasyWeb</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link item-tablet-portrait-only visible-sm">
               <a href="https://webbroker.td.com/"><span class="td-icon td-icon-noIcon"></span>WebBroker</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link item-tablet-portrait-only visible-sm">
               <a href="https://www.tdbank.com/net/accountlogin.aspx"><span class="td-icon td-icon-noIcon"></span>U.S. Banking</a>
            </li>
         </ul>
         <ul class="td-nav-mobile-menu-list ng-hide" ng-show="a.logout==true">
            <li class="td-nav-mobile-menu-item td-item-header item-easy-web">
               <h3>EasyWeb</h3>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link item-my-accounts">
               <a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=PFS"><span class="td-icon td-icon-noIcon"></span>My Accounts</a>
               <a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=CHGADDR"><span class="td-icon td-icon-noIcon"></span>My Profile</a>
               <a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=MNTSEC"><span class="td-icon td-icon-noIcon"></span>Password &amp; Security</a>
               <a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=MNTSEC"><span class="td-icon td-icon-noIcon"></span>Account Settings</a>
               <a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=NFAALRT"><span class="td-icon td-icon-noIcon"></span>Notifications &amp; Alerts</a>
            </li>
            <li class="td-nav-mobile-menu-item td-item-header item-easy-web">
               <h3>Other Accounts</h3>
            </li>
            <li class="td-nav-mobile-menu-item td-item-nav-link item-my-accounts">
               <a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=WBK"><span class="td-icon td-icon-noIcon"></span>WebBroker</a>
               <a href="http://www.tdbank.com/net/accountlogin.aspx"><span class="td-icon td-icon-noIcon"></span>U.S. Banking</a>
            </li>
         </ul>
      </nav>
      <span tabindex="0"></span>
   </div>
   <!-- Secondary mobile menu START -->
   <div class="td-nav-mobile-overlay"></div>
</div>