<header class="td-header-desktop">
   <div class="td-skip"><a href="#main">Skip to main content</a> </div>
   <div class="td-utility-toggle">
      <div class="td-container">
         <div class="td-section-left">
            <div data-sly-resource="${@ path='tdsites', resourceType='/apps/personal-banking/components/structure/tdsites'}" data-sly-unwrap></div>
         </div>
         <div class="td-section-right">
            <div class="td-other-toggles">
               <ul>
                  <li class="td-dropdown td-dropdown-country td-dropdown-no-hover" ng-show="a.login==true">
                     <a href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-0"><span class="td-forscreenreader">Select country</span>
                     <img class="country-flag" src="/content/dam/system/img/country_ca.png" alt="Canada">
                     <span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span></a>
                     <ul class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-0">
                        <li class="active">
                           <a href="javascript:void(0);"><img class="country-flag" src="/content/dam/system/img/country_ca.png" alt="Canada">Canada
                           <span class="td-icon selected" aria-hidden="true"></span><span class="td-forscreenreader">Selected</span></a>
                        </li>
                        <li>
                           <a href="http://www.tdbank.com"><img class="country-flag" src="https://www.td.com/ca/en/personal-banking/images/country_us_tcm341-234704.png" alt="US">US</a>
                        </li>
                     </ul>
                  </li>
                  <li class="td-dropdown td-dropdown-language td-dropdown-no-hover" ng-show="a.login==true">
                     <a href="javascript:void(0);" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-1"><span class="td-forscreenreader">Select language</span>English<span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span></a>
                     <ul class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-1">
                        <li lang="en" class="active">
                           <a href="javascript:void(0);">English<span class="td-icon selected" aria-hidden="true"></span><span class="td-forscreenreader">Selected</span></a>
                        </li>
                        <li lang="fr"><a href="https://www.td.com/ca/fr/services-bancaires-personnels/" target="_self">Français</a></li>
                        <li lang="zh-Hans"><a href="https://zh.td.com/ca/en/personal-banking/" target="_self">简体中文</a></li>
                        <li lang="zh-Hant"><a href="https://zt.td.com/ca/en/personal-banking/" target="_self">繁體中文</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="td-nav-primary">
      <div class="td-container">
         <div class="td-section-left">
            <div class="td-logo">
               <a href="https://www.td.com/ca/en/personal-banking">
               <img src="/content/dam/system/img/td-logo.png" srcset="" alt="TD Canada Trust"></a>
            </div>
            <nav>
               <ul>
                  <li class=""><a href="https://www.td.com/ca/en/personal-banking/my-accounts/">My Accounts</a></li>
                  <li class=""><a href="https://www.td.com/ca/en/personal-banking/how-to/">How To</a></li>
                  <li class="td-dropdown ">
                     <a href="" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-2">
                     Products                          
                     <span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span>
                     </a>
                     <ul class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-2">
                        <li><a href="https://www.td.com/ca/en/personal-banking/products/bank-accounts/">Bank Accounts</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/products/credit-cards/">Credit Cards</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/products/mortgages/">Mortgages</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/products/borrowing/">Borrowing</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/personal-investing/">Personal Investing</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/products/insurance/ ">Insurance</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/products/special-offers/">Promotions &amp; Offers</a>
                        </li>
                     </ul>
                  </li>
                  <li class="td-dropdown ">
                     <a href="" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-3">
                     Solutions                          
                     <span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span>
                     </a>
                     <ul class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-3">
                        <li><a href="https://www.td.com/ca/en/personal-banking/solutions/student-banking/">Students</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/solutions/new-to-canada/">New to Canada</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/solutions/seniors-banking/">Banking Advice for Seniors (60+)</a>
                        </li>
                        <li><a href="https://www.tdcanadatrust.com/products-services/banking/cross-border-banking/index.jsp">Cross Border Banking</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/solutions/currency-exchange/ ">Foreign Exchange Services</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/solutions/ways-to-pay-and-send-money/">Ways to Pay</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/solutions/ways-to-bank/">Ways to Bank </a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/personal-banking/solutions/green-banking/">Green Banking</a>
                        </li>
                        <li><a href="https://www.td.com/ca/products-services/investing-at-td/index.jsp">Investors</a>
                        </li>
                        <li><a href="https://www.td.com/ca/en/business-banking/small-business/">Small Businesses</a>
                        </li>
                        <li><a href="https://www.tdcommercialbanking.com/home/index.jsp">Commercial Banking</a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </nav>
         </div>
         <div class="td-section-right">
            <div class="td-quick-access">
               <ul>
                  <li class="find-us"><a href="https://www.td.com/ca/en/personal-banking/branch-locator/"><span class="td-icon"></span><span class="td-label">Find Us</span></a></li>
                  <li class="help"><a href="https://www.td.com/ca/en/personal-banking/help-centre/"><span class="td-icon"></span><span class="td-label">Help</span></a></li>
                  <li class="search"><a href="#" class="td-desktop-search-show-btn"><span class="td-icon"></span><span class="td-label">Search</span></a></li>
                  <li class="divider" ng-show="a.login==true">
                     <div class="td-divider-line"></div>
                  </li>
                  <li class="login td-dropdown" ng-show="a.login==true">
                     <a href="#
                        " class="td-show-label" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-4"><span class="td-icon"></span><span class="td-label">Login</span><span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span></a>
                     <ul class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-4">
                        <li class="visible-md"><a href="#">TD app</a></li>
                        <li class=""><a href="https://easyweb.td.com/">EasyWeb</a></li>
                        <li class=""><a href="https://webbroker.td.com/">WebBroker</a></li>
                        <li class=""><a href="https://www.tdbank.com/net/accountlogin.aspx">U.S. Banking</a></li>
                     </ul>
                  </li>
                  <li class="divider ng-hide" ng-show="a.logout==true">
                     <div class="td-divider-line"></div>
                  </li>
                  <li class="profile td-dropdown ng-hide" ng-show="a.logout==true">
                     <a href="#" class="td-show-label" aria-haspopup="true" aria-expanded="false" id="td-desktop-nav-dropdown-link-5"><span class="td-profile-btn"><span class="profile-avatar td-icon" aria-hidden="true"></span><span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span></span><span class="td-forscreenreader">My Accounts &amp; Profile</span></a>
                     <div class="td-dropdown-content" aria-labelledby="td-desktop-nav-dropdown-link-5">
                        <div class="td-col">
                           <h3>EasyWeb</h3>
                           <ul>
                              <li><a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=PFS">My Accounts</a>
                              </li>
                              <li><a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=CHGADDR">My Profile</a>
                              </li>
                              <li><a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=MNTSEC">Password &amp; Security</a>
                              </li>
                              <li><a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=CSTMSITE">Account Settings</a>
                              </li>
                              <li><a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=NFAALRT">Notifications &amp; Alerts</a>
                              </li>
                           </ul>
                        </div>
                        <div class="td-col">
                           <h3>Other Accounts</h3>
                           <ul>
                              <li><a href="/servlet/com.td.infosite.servlet.OutBoundServlet?RequestedPage=WBK">WebBroker</a>
                              </li>
                              <li><a href="http://www.tdbank.com/net/accountlogin.aspx">U.S. Banking</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </li>
                  <li class="logout ng-hide" ng-show="a.logout==true">
                     <a href="#" class="td-show-label"><span class="td-icon"></span><span class="td-label">Logout</span></a>
                  </li>
               </ul>
            </div>
         </div>

		<!-- Desktop Search START -->
        <div data-sly-resource="${@ path='search', resourceType='/apps/personal-banking/components/search'}" data-sly-unwrap></div>
        <!-- Desktop Search Menu END -->



      </div>
   </div>
</header> 
