

<template data-sly-template.item="${@ list, item}">

    <article>
        
        <a class="cmp-list__item-link" href="${item.URL}" data-sly-unwrap="${!list.linkItems}">
            <span class="cmp-list__item-title">${item.title}</span>
            <span data-sly-test="${list.showModificationDate}"
                  class="cmp-list__item-date">${list.dateFormatString @format=item.lastModified}</span>
        </a>
        <span data-sly-test="${list.showDescription}" class="cmp-list__item-description">${item.description}</span>
    </article>
</template>
<template data-sly-template.article="${@ list, item}">

        <div class="flexbox" style="padding:40px; background-color: #fff;">
            <sly  data-sly-resource="${item.path @ appendPath='jcr:content/root/responsivegrid/twocolview/par-1/image', resourceType='tdgis/components/content/image', decoration='false'}" style="height:86px;width:152px"></sly>
			<div class ="flexcopy">
                <h3>
                	<a class="td-link-standalone"  href="${item.URL}" data-sly-unwrap="${!list.linkItems}">${item.title}</a>

                    </h3>
                <div class="rte">
                    <p data-sly-test="${list.showDescription}">${item.description}</p>
                </div>
			</div>
            <div class="rte mod-time">
            	<img src="/content/dam/system/img/time.png"/>
            <span  data-sly-test="${list.showModificationDate}" >
            	${list.dateFormatString @format=item.lastModified}</span>
            </div>
        </div>

</template>
