<header class="td-header-mobile">
   <div class="td-container">
      <div class="td-section-left">
         <button type="button" class="td-mobile-action-button td-mobile-menu-button" style="display:inline;" aria-haspopup="true" aria-expanded="false">
            <div class="td-mobile-menu-button-icon">
               <span class="td-forscreenreader">Open Menu</span>
               <span class="icon-bar" aria-hidden="true"></span>
               <span class="icon-bar" aria-hidden="true"></span>
               <span class="icon-bar" aria-hidden="true"></span>
            </div>
            <div class="td-logo">
               <img src="/content/dam/system/img/td-logo.png" srcset="" alt="TD Canada Trust">
            </div>
         </button>
         <button type="button" class="td-mobile-action-button td-mobile-back-button" onclick="history.back();" style="display:none;">
            <div class="td-mobile-back-button-icon"><span class="td-icon"></span><span class="td-forscreenreader">Back</span></div>
            <div class="td-logo">
               <img src="/content/dam/system/img/td-logo.png" srcset="" alt="TD Canada Trust">
            </div>
         </button>
      </div>
      <div class="td-section-right">
         <button type="button" class="td-mobile-action-button td-mobile-menu-secondary-button td-login" ng-show="a.login==true" aria-haspopup="true" aria-expanded="false">
         <span class="td-icon login"></span><span class="label">Login</span><span class="td-forscreenreader">Open Menu</span>
         </button>
         <button type="button" class="td-mobile-action-button td-mobile-menu-secondary-button profile ng-hide" ng-show="a.logout==true" aria-haspopup="true" aria-expanded="false">
            <div class="td-profile-btn"><span class="profile-avatar td-icon" aria-hidden="true"></span><span class="td-icon expand" aria-hidden="true"></span><span class="td-icon collapse" aria-hidden="true"></span><span class="td-forscreenreader">My Accounts &amp; Profile open menu</span> </div>
         </button>
         <a href="#" class="td-login td-logout ng-hide" ng-show="a.logout==true"><span class="td-icon logout"></span><span class="label">Logout</span></a>
      </div>
   </div>
</header>